.componentHeader {
  .containerXs {
    img {
      padding: 5px;
    }
  }
}
.MuiBackdrop-root {
  background-color: transparent !important;
}
.customDrawer {
  color: white;
  padding: 0 20px;
  position: fixed;
  top: 4.45rem;
  width: 100%;

  h6 {
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
  }

}
