.containerSocialIcons {
    .MuiGrid-container {
      justify-content: center;
    }
    a {
      padding-right: 10px;
    }
  }
  .containerImageLink img {
    padding: 5px;
  }
  
  @media only screen and (min-width: 600px) and (max-width: 959px) {
    .containerSocialIcons {
      .MuiGrid-container {
        justify-content: flex;
      }
    }
  }
  